---
import type {ImageMetadata} from "astro";
import { Image } from 'astro:assets';


interface Props {
    /**
     * The path to the file to include.
     */
    src: string;
    /**
     The alt text for the image.
     */
    alt: string;
    /**
     * The caption for the image.
     */
    caption?: string;}
const { src, alt, caption} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}')
if (!images[src]) throw new Error(`"${src}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---
<tr>
    <td colspan="2">
        <Image src={images[src]()} alt={alt} class="w-1/2 mx-auto"/>
        {caption && <p class="text-center text-sm text-gray-500 dark:text-gray-400">{caption}</p>}
    </td>
</tr>
